@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$fontGeneral: "Roboto Condensed", sans-serif;
$fontMain: "Courier New", Courier, monospace;

$h1: 5em, "Roboto Condensed", sans-serif;
$h2: 4em, "Roboto Condensed", sans-serif;
$h4: 3em, "Roboto Condensed", sans-serif;
$h5: 2em, "Roboto Condensed", sans-serif;
$tex: center;
$textRight:right;
$textDosAlign:center;

$fontsTamano: 10em;
$fsize:50px;
$fise:20px;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;



