// @import url(de la fuente);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

//Fonts
$fontGeneral: "Roboto Condensed", sans-serif;
$fontMain: "Courier New", Courier, monospace;
//h1,h2,h4,h5
$h1: 4em, "Roboto Condensed", sans-serif;
$h2: 3em, "Roboto Condensed", sans-serif;
$h4: 2em, "Roboto Condensed", sans-serif;
$h5: 5em, "Roboto Condensed", sans-serif;
//Font-sizes
$fontsTamano: 10em;
$fsize:50px;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;
//Align
$tex: center;
$textRight:right;

