//definir las variables
$mainColor: rgba(238, 188, 2471, 0.5);
$secondaryColor: rgba(238, 188, 2471, 0.7);
//Sizing
$w-100: 100%;
$w-50: 50%;
$w-25: 25%;
$color-hover: red;
$border:solid 2px;
//Texts
$texto: "Roboto Condensed", sans-serif, 4em;
$titulos: "Roboto Condensed", sans-serif, 50px, margin-top 30px;
//Color
$background: rgb(177, 189, 204);
//Align
$textC: center;